{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mt-2">
                        <h4 class="m-0 text-uppercase font-weight-bold">comment contribuer a une thématique ouverte ? </h4>
                    </div>
                    <div class="col-md-12">
                    	<div class="row">
                    	<p class="text-justify card-body" style="background-color:#FFF">Pour participer au forum d’échanges et contribuer à une thématique ouverte,</p>
                        <ol class="list-group">
                            <li class="list-group-item">1. Connectez-vous à votre compte sur le forum des journalistes. Si vous n'avez pas encore de compte, inscrivez-vous en fournissant les informations requises.</li>
                        
                        	<li class="list-group-item">2. Parcourez la page du forum pour trouver une thématique ouverte qui suscite votre intérêt.</li>
                        
                        	<li class="list-group-item">3. Cliquez sur la thématique ouverte à laquelle vous souhaitez contribuer.</li>
                        	<li class="list-group-item">4. Réfléchissez à votre contribution et à ce que vous souhaitez apporter à la discussion. Pensez prendre des exemples concrets et citer des sources, ou précisez si c’est votre observation personnelle;</li>
                        
                        	<li class="list-group-item">5. Cliquez sur le bouton "Répondre" ou "Contribuer".</li>
                        
                        	<li class="list-group-item">6. Rédigez votre message en tenant compte des règles du forum et en restant respectueux envers les autres participants. Vous pouvez ajouter des photos et vidéo en envoyant par WhatsApp au secrétariat au réseau;</li>
                        	<li class="list-group-item">7. Relisez votre message pour vous assurer qu'il est clair, sans fautes d'orthographe et qu'il contribue de manière constructive à la discussion.</li>
                        	<li class="list-group-item">8. Une fois satisfait de votre contribution, cliquez sur le bouton "Publier" ou "Envoyer" pour soumettre votre message au forum.</li>
                        	<li class="list-group-item">9. Votre contribution sera alors confirmée et visible par les autres participants, qui pourront y répondre et continuer la discussion.</li>
                        	<li class="list-group-item">10. Le résumé des contributions seront partagés aux organisations internationales et institutions pertinentes par la newsletter du réseau;</li>
                        	<li class="list-group-item">11. Vous pouvez écrire en anglais ou en français.</li>
                        </ol>

<p class="text-justify mt-2 card-body" style="background-color:#FFF">En cas de difficulté écrivez à reseaujcac@gmail.com ou appeler le <a href="https://wa.me/237680849305">(+237)680 849 305</a>. Nous sommes disponibles sur WhatsApp
                    	
                    	</div>
                    </div>


                </div>
            </div>
    
    </div>

{% endblock %}
