{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid mt-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title mb-0">
					<h4 class="m-0 text-uppercase font-weight-bold">A propos du forum</h4>

				</div>
				<div class="col-md-12 text-justify">Le Forum thématique du réseau JCAC mobilise la sensibilisation, le partage 
										        	                        des connaissances, le débat et l'apprentissage mutuel sur toute une série de
										        	                        questions touchant à la vie des radios communautaires, au métier de journaliste 
										        	                        communautaire et leur impact sur le développement durable des communautés locales. 
										        	                        Les discussions sont facilitées et modérées par le secrétariat du réseau supervisé par 
										        	                        le Centre pour la communication et le développement durable pour tous (<a href="http://cecosda.org">CECOSDA</a>).
				</div>
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="btn btn-info accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#comment">Comment fonctionne le forum de discussion sur le journalisme communautaire et le développement rural?
								</a>
							</h4>
							<div id="comment" class="panel-collapse collapsed in text-justify">
								Les discussions thématiques sont ouvertes une fois par mois, dès le 05 de chaque mois. Les personnes inscrites sur le forum reçoivent la notification par email ou par téléphone et ont 14 jours pour envoyer leur contribution par email à l'adresse
								<a href="mailto:reseaujcac@gmail.com">reseaujcac@gmail.com</a>
								.
																        				                                    Après dix jours, la thématique est fermée pour permettre au secrétariat de compiler les contributions et de le partager avec les acteurs du secteur.
																        				                                    Les contributions  portant les noms et les organisations les personnes ayant contribuées sont partagées par email  dans un large groupe de partenaires internationaux et disponible en ligne pour référence.

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="btn btn-info accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#qui">Qui peut contribuer aux consultations du forum thématique sur le journalisme communautaire et le développement rural?</a>
							</h4>
							<div id="qui" class="panel-collapse collapsed in text-justify">
								Tous les acteurs intéressés par le journalisme communautaire et les membres du forum 
																        				                           peuvent contribuer en envoyant un article en relation avec la thématique ouverte. L’article 
																        				                           devra décrire les faits et la situation qui prévaut dans son contexte avec des sources des données, 
																        				                           et une ou deux  photos idéalement. 
																        				                           Les articles sont signés avec mention de sa radio ou de son organisation.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="btn btn-info accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#pourquoi">Pourquoi contribuer aux consultations du forum thématique sur le journalisme communautaire et le développement rural?</a>
							</h4>
							<div id="pourquoi" class="panel-collapse collapsed in text-justify">
								Lorsque vous contribuez en envoyant vos contributions à une thématique et en partageant vos réalités sur le 
																        				                           terrain vous gagnez en visibilité auprès des partenaires et bailleurs de fonds pour la participation aux 
																        				                           conférences internationales. Vous contribuez également à la valorisation du journalisme communautaire. 
																        				                           A travers vos contributions, votre radio peut également recevoir des appuis en matière de publicité ou de 
																        				                           subvention. Le rapport des contributions est diffusé en ligne avec une grande visibilité et distribué par
																        				                            email à plus de 1000 contacts institutionnels. Les journalistes 
																        				                           qui contribuent sont également mis en priorité pour les formations financées par les bailleurs de fonds.</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
