<div style="width: 1000px;text-align: justify; border: 1px solid #094071; font-family: raleway">
	<div style="padding: 0px;background: #95d9f73d;margin-bottom: 10px;color: darkblue;">
  		<center><img style="max-width: 100%;" src="https://www.cecosdaformation.com/web/assets/img/banniere-cecosdaformation.png"></center>
		 <h3 style="margin-top: 5px; margin-bottom: 0px;"><center> Au delà du diplôme, la compétence - Site Web: http://cecosdaformation.com | <a href="https://wa:me/237677325343">Whatsapp</a></center> </h3>
    
	
	{# 	<center><img style="max-width: 100%;" src="https://www.cecosdaformation.com/web/assets/img/banniere_mail.jpg"></center>
		 <h3 style="margin-top: 5px; margin-bottom: 0px;"><center> Au delà du diplôme, la compétence - Site Web: http://vacancespro.cm | <a href="https://wa:me/237677325343">Whatsapp</a></center> </h3>
    #}
	</div>
	<div style="padding: 10px;">
		<p style="font-size: 18px;">
			{% block body %}
			{% endblock %}
		</p>
		<hr>
		
		<i style="color: orangered; font-size: 12px;"><b>Bon à savoir :</b> Si vous n'êtes pas à l'origine de cette demande, ne prenez pas en compte cet email.</i>
		<table style="font-size: 12px;">
			<tr>
				<td>
					<ul>
						<li style="padding: 2px;"><a style="text-decoration: none;" href="#">cecosdaformation@gmail.com</a></li>
						<li style="padding: 2px;"><a style="text-decoration: none;" href="#">cecosdaformation.com, Yaoundé, Montée Jouvence </a></li>
					</ul>
				</td>
				<td>
					<ul>
						<li style="padding: 2px;"><a style="text-decoration: none;" href="telto:">Tél: (+237) 677 325 343</a></li>
						<li style="padding: 2px;"><a style="text-decoration: none;" href="telto:">Tél: (+237) 222 311 875</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<div style="background: #094071;color: white;padding: 10px;"><center>© 2021 cecosdaformation.com</center></div>
	</div>
</div>